#crc-map {
    margin:0;
    padding:0;
    min-height: 525px;
    max-height: 800px;
}

#list-container {
    overflow: scroll;
    height:525px;
}

.crc-tabpanel {
    margin-bottom: 10px;
}

.list-unstyled li {
    margin-bottom: 10px;
}

.loading {
    z-index: 1100 !important;
}

.glyphicon-refresh-animate {
    -animation: spin 2.5s infinite linear;
    -webkit-animation: spin2 2.5s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}    
